// Variables
$bgColor: #F8F7E8;
$bgColorFooter: #282828;
$color_1: #000;
$color_2: #fff;
$color_3: rgb(107, 107, 107);



// Reset ____________________________________________________
body {
    margin: 0;
    padding: 0;
    background: $bgColor;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    h1,h2,h3,h4,h5,h6 {
        margin: 0;
    }
    button {
        font-family: 'Mulish', sans-serif;
    }
    a {
        text-decoration: none;
    }
}

// Container ____________________________________________________
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

// Header ____________________________________________________
.header {
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }
    .nav__link {
        font-size: 20px;
        margin-left: 30px;
        text-decoration: none;
        color: $color_1;
    }
    .header__logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: $color_1
    }
}

// Intro ____________________________________________________
.intro {
    height: 100vh;

    .intro__inner {
        display: flex;
        padding: 180px 0 0 0;
    }
    .intro__item {
        width: 50%;
    }
    .intro__title {
        font-family: 'Didact Gothic', sans-serif;
        font-size: 65px;
        margin-bottom: 20px;
        font-weight: 700;
    }
    .intro__subtitle {
        font-family: 'Overpass Mono', monospace;
        font-size: 25px;
        color: $color_3;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .intro__media {
        margin-bottom: 20px;
    }
    .intro__btn {
        width: 280px;
        padding: 15px 0;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
        color: $color_2;
        background-color: $color_1;
    }
}

//Typing message ____________________________________________________
.intro__type {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass Mono', monospace;
    font-size: 25px;

    .type__text {
        position: relative;
    }
    .type__text::before,
    .type__text::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .type__text::before {
        background-color: $bgColor;
        animation: typewriter 4s steps(26) 1s forwards; /*forwards - не возобновляет аниманию заново*/
    }
    .type__text::after {
        width: 3.5px;
        background: $color_1;
        animation: typewriter 4s steps(26) 1s forwards,
        blink 750ms steps(26) infinite;
    }
    @keyframes typewriter {
        to { 
            left: 100%;
        }
    }
    @keyframes blink {
        to {
            background: transparent;
        }
    }
}

// Projects ____________________________________________________
.project {
    height: 100vh;

    .project__inner {
        display: grid;
        gap: 10px;
        grid-template-columns: 33% 33% 33%;
    }
    .project__item {
        background-color: $color_2;
        border-radius: 10px;
    }
    .project__img {
        border-radius: 10px 10px 0 0;
        width: 100%;
    }

    .project__info {
        margin: 15px;
        display: grid;
        gap: 18px;
    }
    .project__name {
        font-size: 26px;
        font-weight: 700;
    }
    .stack { 
        width: 90%;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;

    }
    .stack__item {
        background-color: #000;
        color: $color_2;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 15px;
    }
    .links {
        margin-top: 50px;
    }
    .btn {
        background-color: $color_1;
        color: $color_2;
        border-radius: 5px;
        padding: 8px 30px;
        font-size: 18px;
        font-weight: 500;
        border: 1px solid black;
    }
    .btn_code {
        background: $color_2;
        color: $color_1;
    }
    span {
        font-weight: 700;
    }
}

// Title of section ____________________________________________________
.section__title {
    font-family: 'Overpass Mono', monospace;
    margin-bottom: 40px;
    font-size: 40px;
}

// About me ____________________________________________________
.about {
    margin: 160px 0px 100px 0px;
    height: 50vh;

    .about__inner {
        display: grid;
        gap: 50px;
        grid-template-columns: 50% 50%;
    }
    .about__subtitle {
        font-size: 30px;
    }
    .about__text {
        font-size: 22px;
    }
    .skill__title {
        font-size: 30px;
        font-weight: 700;
        font-family: 'Overpass Mono', monospace;
    }
    .skill__items {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        width: 80%;
    }
    .skill__item {
        background-color: $color_1;
        color: $color_2;
        border-radius: 5px;
        padding: 5px 15px;
    }
}


// Contact me ____________________________________________________
.contact {
    margin: 0px 0px 100px 0px;

    .section__title {
        text-align: center;
    }
    .contact__inner {
        width: 50%;
        margin: 0 auto;
    }
    .form__item { 
        width: 100%;
        display: grid;
        gap: 5px;
    }
    .form__input {
        margin: 5px 0px 0px 0px;
        font-size: inherit;
        border-radius: 5px;
        min-height: 30px;
        padding: 5px 10px;
    }
    textarea {
        font-size: inherit;
        min-height: 100px;
        resize: vertical;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .btn {
        color: $color_2;
        background-color: $color_1;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 20px;
        margin: 10px 0px 0px 0px;
    }
}


// Footer ____________________________________________________
.footer {
    background-color: $bgColorFooter;
    color: $color_3;

    .footer__inner {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }
    .footer__title {
        font-size: 20px;
        font-weight: 700;
        color: #bbbbbb;
    }
    .footer__text,
    .footer__link {
        color: $color_3;
    }
}




