@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

button {
  font-size: inherit;
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background: #f8efe8;
  font-family: "Mulish", sans-serif;
  font-size: 1.8rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  z-index: 1000;
}

@media (max-width: 1300px) {
  .container {
    max-width: 991px;
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 910px) {
  .container {
    padding: 0px 30px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #f8efe8;
  border-bottom: 1px solid #b9b2b2;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.header .nav__link {
  font-size: 20px;
  margin-left: 30px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  opacity: 0.75;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header .header__logo {
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.header .nav__link:hover {
  opacity: 1;
}

.header .menu {
  display: none;
}

.header .menu__item {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #000;
  font-size: 0px;
  position: relative;
}

.header .menu__item::before,
.header .menu__item::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  left: 0;
}

.header .menu__item::before {
  top: -8px;
}

.header .menu__item::after {
  top: 8px;
}

@media (max-width: 910px) {
  .header .nav {
    display: none;
  }
  .header .menu {
    display: block;
  }
}

.intro {
  height: 65rem;
  background: #f8efe8;
  padding: 25rem 0px;
}

.intro .intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro .intro__item {
  width: 50%;
}

.intro .intro__suptitle {
  font-family: "Didact Gothic", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 0.8;
}

.intro .intro__title {
  font-family: "Didact Gothic", sans-serif;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 0.8;
}

.intro .intro__subtitle {
  font-family: "Didact Gothic", sans-serif;
  font-size: 30px;
  color: #757575;
  line-height: 1.2;
  margin-bottom: 20px;
}

.intro .intro__media {
  margin-bottom: 20px;
}

.intro .btn {
  font-size: inherit;
  padding: 10px 30px;
  border-radius: 5px;
  background: #f8efe8;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.intro .btn:hover {
  background-color: #000;
  color: #fff;
}

@media (max-width: 1300px) {
  .intro .intro__item {
    width: 100%;
  }
  .intro .intro__item.type {
    display: none;
  }
}

@media (max-width: 630px) {
  .intro .intro__suptitle {
    font-size: 22px;
  }
  .intro .intro__title {
    font-size: 52px;
    line-height: 1;
  }
  .intro .intro__subtitle {
    font-size: 22px;
  }
}

.intro__type {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Overpass Mono", monospace;
  font-size: 25px;
}

.intro__type .type__text {
  position: relative;
}

.intro__type .type__text::before,
.intro__type .type__text::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.intro__type .type__text::before {
  background-color: #f8efe8;
  -webkit-animation: typewriter 4s steps(26) 1s forwards;
          animation: typewriter 4s steps(26) 1s forwards;
  /*forwards - не возобновляет аниманию заново*/
}

.intro__type .type__text::after {
  width: 3.5px;
  background: #000;
  -webkit-animation: typewriter 4s steps(26) 1s forwards, blink 750ms steps(26) infinite;
          animation: typewriter 4s steps(26) 1s forwards, blink 750ms steps(26) infinite;
}

@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.project {
  height: auto;
  background: #fff;
  padding: 50px 0px;
}

.project .project__inner {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
}

.project .project__item {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  -webkit-box-shadow: 0 3px 6px #d9d9d9;
          box-shadow: 0 3px 6px #d9d9d9;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.project .project__item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 2px 5px 8px #d9d9d9;
          box-shadow: 2px 5px 8px #d9d9d9;
}

.project .project__img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.project .project__info {
  margin: 15px;
  display: -ms-grid;
  display: grid;
  gap: 18px;
}

.project .project__name {
  font-size: 26px;
  font-weight: 700;
}

.project .stack {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project .stack__item {
  background-color: #fff;
  color: #000;
  border: 1px solid;
  border-radius: 50px;
  padding: 5px 15px;
  font-size: 15px;
}

.project .links {
  margin: 50px 0px 10px 0px;
}

.project .btn {
  padding: 8px 30px;
  background-color: #000;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.project .btn:hover {
  background: #fff;
  color: #000;
}

@media (max-width: 1300px) {
  .project .project__inner {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media (max-width: 768px) {
  .project .project__inner {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .project .links {
    margin: 10px 0px;
  }
}

@media (max-width: 410px) {
  .project .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 38px;
  text-transform: uppercase;
}

@media (max-width: 1300px) {
  .section__title {
    font-size: 30px;
  }
}

.about {
  padding: 150px 0px;
  height: auto;
}

.about .about__inner {
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.about .about__text {
  font-size: 22px;
  line-height: 1.6;
}

.about .skill__title {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Overpass Mono', monospace;
}

.about .skill__items {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.about .skill__item {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
}

@media (max-width: 1100px) {
  .about .about__inner {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media (max-width: 630px) {
  .about .about__text {
    font-size: 18px;
  }
}

.contact {
  height: auto;
  padding: 50px 0px;
  background: #fff;
}

.contact .contact__inner {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  border-radius: 20px;
}

.contact .contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 20px;
}

.contact .info__mail {
  font-weight: 700;
  font-size: 20px;
}

.contact .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.contact .info__title {
  font-size: 30px;
}

.contact .info__text {
  margin: 10px;
}

.contact img {
  height: 60px;
  width: 60px;
}

.contact .contact__form {
  padding: 20px 40px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.contact .form__input {
  background: #ececec;
  border-radius: 5px;
  min-height: 40px;
  font-size: inherit;
  color: #000;
  padding: 15px 20px;
  border: none;
}

.contact textarea {
  padding: 15px 20px;
  font-size: inherit;
  background: #ececec;
  border-radius: 5px;
  resize: none;
  border: none;
  min-height: 150px;
}

.contact button {
  max-width: 250px;
  padding: 15px 0px;
  border-radius: 5px;
  font-size: inherit;
  cursor: pointer;
  background: #fff;
  color: #000;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.contact button:hover {
  background: #000;
  color: #fff;
}

@media (max-width: 1100px) {
  .contact .contact__inner {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media (max-width: 768px) {
  .contact .contact__form {
    pad: 15px 10px;
  }
}

@media (max-width: 630px) {
  .contact .contact__form {
    padding: 15px 0px;
  }
}

.footer {
  background-color: #282828;
  color: #d9d9d9;
}

.footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.footer .footer__title {
  font-size: 20px;
  font-weight: 700;
  color: #bbbbbb;
}

.footer .footer__text,
.footer .footer__link {
  color: #d9d9d9;
}
