@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background: #F8F7E8;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0;
}
body button {
  font-family: 'Mulish', sans-serif;
}
body a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.header .nav__link {
  font-size: 20px;
  margin-left: 30px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  opacity: 0.75;
  transition: 0.2s linear;
}
.header .header__logo {
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.header .nav__link:hover {
  opacity: 1;
}
.header .menu {
  display: none;
}
.header .menu__item {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #000;
  font-size: 0px;
}
@media (max-width: 1300px) {
  .header .container {
    max-width: 991px;
  }
}
@media (max-width: 1100px) {
  .header .container {
    max-width: 767px;
  }
}
@media (max-width: 991px) {
  .header .nav {
    display: none;
  }
  .header .menu {
    display: grid;
    gap: 5px;
  }
}

.intro {
  height: 100vh;
}
.intro .intro__inner {
  display: flex;
  padding: 180px 0 0 0;
}
.intro .intro__item {
  width: 50%;
}
.intro .intro__title {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 65px;
  margin-bottom: 20px;
  font-weight: 700;
}
.intro .intro__subtitle {
  font-family: 'Overpass Mono', monospace;
  font-size: 25px;
  color: #6b6b6b;
  line-height: 1.2;
  margin-bottom: 20px;
}
.intro .intro__media {
  margin-bottom: 20px;
}

.intro__type {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Overpass Mono', monospace;
  font-size: 25px;
}
.intro__type .type__text {
  position: relative;
}
.intro__type .type__text::before,
.intro__type .type__text::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.intro__type .type__text::before {
  background-color: #F8F7E8;
  animation: typewriter 4s steps(26) 1s forwards;
  /*forwards - не возобновляет аниманию заново*/
}
.intro__type .type__text::after {
  width: 3.5px;
  background: #000;
  animation: typewriter 4s steps(26) 1s forwards, blink 750ms steps(26) infinite;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
.project {
  height: 100vh;
}
.project .project__inner {
  display: grid;
  gap: 10px;
  grid-template-columns: 33% 33% 33%;
}
.project .project__item {
  background-color: #fff;
  border-radius: 10px;
}
.project .project__img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.project .project__info {
  margin: 15px;
  display: grid;
  gap: 18px;
}
.project .project__name {
  font-size: 26px;
  font-weight: 700;
}
.project .stack {
  width: 90%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.project .stack__item {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 15px;
}
.project .links {
  margin: 50px 0px 10px 0px;
}
.project .btn {
  padding: 8px 30px;
  background-color: #000;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.project .btn_code {
  background: #fff;
  color: #000;
}
.project span {
  font-weight: 700;
}

.section__title {
  font-family: 'Overpass Mono', monospace;
  margin-bottom: 40px;
  font-size: 40px;
}

.about {
  margin: 160px 0px 100px 0px;
  height: 70vh;
}
.about .about__inner {
  display: grid;
  gap: 50px;
  grid-template-columns: 50% 50%;
}
.about .about__subtitle {
  font-size: 30px;
}
.about .about__text {
  font-size: 22px;
}
.about .skill__title {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Overpass Mono', monospace;
}
.about .skill__items {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 80%;
}
.about .skill__item {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
}

.contact .contact__inner {
  display: grid;
  grid-template-columns: 40% 60%;
  background: #ebebeb;
}
.contact .form__item {
  width: 80%;
  display: grid;
  gap: 5px;
}
.contact .form__input {
  margin: 5px 0px 0px 0px;
  font-size: inherit;
  border-radius: 5px;
  min-height: 30px;
  padding: 5px 10px;
}
.contact textarea {
  font-size: inherit;
  min-height: 100px;
  resize: vertical;
  padding: 5px 10px;
  border-radius: 5px;
}
.contact .btn {
  width: 25%;
  margin: 10px 0px;
  padding: 10px 20px;
  background-color: #000;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
}

.footer {
  background-color: #282828;
  color: #6b6b6b;
}
.footer .footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.footer .footer__title {
  font-size: 20px;
  font-weight: 700;
  color: #bbbbbb;
}
.footer .footer__text,
.footer .footer__link {
  color: #6b6b6b;
}
