// Variables
$bgColor: #f8efe8;
$bgColorFooter: #282828;
$color_black: #000;
$color_white: #fff;
$color_gray: #757575;
$color_lgray: #d9d9d9;

$font_didact: 'Didact Gothic', sans-serif;
$font_mulish: 'Mulish', sans-serif;
$font_overpass: 'Overpass Mono', monospace;
$font_mont: 'Montserrat', sans-serif;


// Reset ____________________________________________________
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
button {
    font-size: inherit;
    font-family: $font_mulish;
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    background: $bgColor;
    font-family: $font_mulish;
    font-size: 1.8rem;
}


// Container ____________________________________________________
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
    z-index: 1000;

    // Media queries
    @media (max-width:1300px) {
        max-width: 991px;
    }
    @media (max-width: 1100px) {
        max-width: 900px;
    }
    @media (max-width: 910px) {
        padding: 0px 30px;
    }
}


// Header ____________________________________________________
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; // like margin: auto;
    background: $bgColor;
    border-bottom: 1px solid rgb(185, 178, 178);

    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }
    .nav__link {
        font-size: 20px;
        margin-left: 30px;
        text-decoration: none;
        color: $color_black;
        text-transform: uppercase;


        opacity: 0.75;
        transition: 0.2s linear;
    }
    .header__logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: $color_black
    }
    .nav__link:hover {
        opacity: 1;
    }

    //Create burger
    .menu {
        display: none;
    }
    .menu__item {
        display: block;
        height: 3px;
        width: 30px;
        background-color: $color_black;
        font-size: 0px;

        position: relative;
    }
    .menu__item::before,
    .menu__item::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $color_black;

        position: absolute;
        left: 0;
    }
    .menu__item::before {
        top: -8px;
    }
    .menu__item::after {
        top: 8px;
    }



    // Media queries
    @media (max-width: 1300px) {
       
    }
    @media (max-width: 1100px) {
        
    }
    @media (max-width: 910px) {
       .nav {
           display: none;
       }
       .menu {
           display: block;
       }
    }
}


// Intro ____________________________________________________
.intro {
    height: 65rem;
    background: $bgColor;
    padding: 25rem 0px;


    .intro__inner {
        display: flex;
    }
    .intro__item {
        width: 50%;
    }
    .intro__suptitle {
        font-family: $font_didact;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 700;
        line-height: 0.8;
    }
    .intro__title {
        font-family: $font_didact;
        font-size: 60px;
        margin-bottom: 20px;
        font-weight: 700;
        line-height: 0.8;
    }
    .intro__subtitle {
        font-family: $font_didact;
        font-size: 30px;
        color: $color_gray;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .intro__media {
        margin-bottom: 20px;
    }
    .btn {
        font-size: inherit;
        padding: 10px 30px;
        border-radius: 5px;
        background: $bgColor;
        font-size: 20px;
        cursor: pointer;

        transition: all 0.3s linear;
    }
    .btn:hover {
        background-color: $color_black;
        color: $color_white;
    }


    // Media queries
    @media (max-width: 1300px) {
        .intro__item {
             width: 100%;
        }
        .intro__item.type {
            display: none;
        }
    }
    @media (max-width: 630px) {
        .intro__suptitle {
            font-size: 22px;
        }
        .intro__title {
            font-size: 52px;
            line-height: 1;
        }
        .intro__subtitle {
            font-size: 22px;
        }
    }
}


//Typing message ____________________________________________________
.intro__type {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font_overpass;
    font-size: 25px;

    .type__text {
        position: relative;
    }
    .type__text::before,
    .type__text::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .type__text::before {
        background-color: $bgColor;
        animation: typewriter 4s steps(26) 1s forwards; /*forwards - не возобновляет аниманию заново*/
    }
    .type__text::after {
        width: 3.5px;
        background: $color_black;
        animation: typewriter 4s steps(26) 1s forwards,
        blink 750ms steps(26) infinite;
    }
    @keyframes typewriter {
        to { 
            left: 100%;
        }
    }
    @keyframes blink {
        to {
            background: transparent;
        }
    }
}


// Projects ____________________________________________________
.project {
    height: auto;
    background: $color_white;
    padding: 50px 0px;

    .project__inner {
        display: grid;
        gap: 15px;
        grid-template-columns: 33% 33% 33%;
    }
    .project__item {
        background-color: $color_white;
        border-radius: 10px;
        border: 1px solid rgb(233, 233, 233);
        box-shadow: 0 3px 6px $color_lgray;

        transition: all 0.2s linear;
    }
    .project__item:hover {
        transform: translateY(-10px);
        box-shadow: 2px 5px 8px $color_lgray;
    }

    
    .project__img {
        border-radius: 10px 10px 0 0;
        width: 100%;
    }
    .project__info {
        margin: 15px;
        display: grid;
        gap: 18px;
    }
    .project__name {
        font-size: 26px;
        font-weight: 700;
    }
    .stack { 
        width: 90%;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }
    .stack__item {
        background-color: $color_white;
        color: $color_black;
        border: 1px solid;
        border-radius: 50px;
        padding: 5px 15px;
        font-size: 15px;
    }
    .links {
        margin: 50px 0px 10px 0px;
    }
    .btn {
        padding: 8px 30px;
        background-color: $color_black;
        border-radius: 5px;
        border: 1px solid black;
        font-size: 18px;
        font-weight: 500;
        color: $color_white;

        transition: all 0.3s linear;
    }
    .btn:hover {
        background: $color_white;
        color: $color_black;
    }



    // Media queries
    @media (max-width: 1300px) {
        .project__inner {
            grid-template-columns: 50% 50%;
        }
    }
    @media (max-width: 768px) {
        .project__inner {
            grid-template-columns: 100%;
        }
        .links {
            margin: 10px 0px;
        }
    }
    @media (max-width: 410px) {
        .links{
            display: flex;
            gap: 5px;
            flex-direction: column;
        }
    }
}



// Title of section ____________________________________________________
.section__title {
    font-family: $font_mont;
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 38px;
    text-transform: uppercase;


    // Media queries
    @media (max-width: 1300px) {
        font-size: 30px;
    }
}


// About me ____________________________________________________
.about {
    padding: 150px 0px;
    height: auto;

    .about__inner {
        display: grid;
        gap: 50px;
        grid-template-columns: 50% 50%;
    }
    .about__text {
        font-size: 22px;
        line-height: 1.6;
    }
    .skill__title {
        font-size: 30px;
        font-weight: 700;
        font-family: 'Overpass Mono', monospace;
    }
    .skill__items {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        width: 100%;
    }
    .skill__item {
        background-color: $color_black;
        color: $color_white;
        border-radius: 5px;
        padding: 5px 15px;
    }


    // Media queries
    @media (max-width: 1100px) {
       .about__inner {
           grid-template-columns: 100%;
       }
    }
    @media (max-width: 630px) {
       .about__text {
           font-size: 18px;
       }
    }
}


// Contact me ____________________________________________________
.contact {
    height: auto;
    padding: 50px 0px;
    background: $color_white;


    .contact__inner {
        display: grid;
        gap: 30px;
        grid-template-columns: 40% 60%;
        border-radius: 20px;
    }
    .contact__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .info__mail {
        font-weight: 700;
        font-size: 20px;
    }
    .links {
        display: flex;
        gap: 10px;
    }
    .info__title {
        font-size: 30px;
    }
    .info__text {
        margin: 10px;
    }
    img {
        height: 60px;
        width: 60px;
    }


    .contact__form {
        padding: 20px 40px;
        display: grid;
        gap: 20px;
    }
    .form__input {
        background: rgb(236, 236, 236);
        border-radius: 5px;
        min-height: 40px;
        font-size: inherit;
        color: $color_black;
        padding: 15px 20px;
        border: none;
    }
    textarea {
        padding: 15px 20px;
        font-size: inherit;
        background: rgb(236, 236, 236);
        border-radius: 5px;
        resize: none;
        border: none;
        min-height: 150px;
    }
    button {
        max-width: 250px;
        padding: 15px 0px;
        border-radius: 5px;
        font-size: inherit;
        cursor: pointer;
        background: $color_white;
        color: $color_black;

        transition: all 0.3s linear;
    }
    button:hover {
        background: $color_black;
        color: $color_white;
    }


    // Media queries
    @media (max-width: 1100px) {
       .contact__inner {
           grid-template-columns: 100%;
       }
    }
    @media (max-width: 768px) {
        .contact__form {
            pad: 15px 10px;
        }
    }
    @media (max-width: 630px) {
       .contact__form {
           padding: 15px 0px;
       }
    }
}


// Footer ____________________________________________________
.footer {
    background-color: $bgColorFooter;
    color: $color_lgray;

    .footer__inner {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }
    .footer__title {
        font-size: 20px;
        font-weight: 700;
        color: #bbbbbb;
    }
    .footer__text,
    .footer__link {
        color: $color_lgray;
    }
}