/* Reset everything _____________________________________________*/
body {
    margin: 0;
    padding: 0;
    background-color: #F8F7E8;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    h1,h2,h3,h4,h5,h6 {
        margin: 0;
    }
    button {
        font-family: 'Mulish', sans-serif;
    }
    a {
        text-decoration: none;
    }
}

/* Container _____________________________________________*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header _____________________________________________*/
.header {
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }
    .nav__link {
        font-size: 20px;
        margin-left: 30px;
        text-decoration: none;
        color: #000;
    }
    .header__logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: #000;
    }
}

/* Intro _____________________________________________*/

.intro {
    height: 100vh;

    .intro__inner {
        display: flex;
        padding: 180px 0 0 0;
    }
    .intro__item {
        width: 50%;
    }
    .intro__title {
        font-family: 'Didact Gothic', sans-serif;
        font-size: 65px;
        margin-bottom: 20px;
        font-weight: 700;
    }
    .intro__subtitle {
        font-family: 'Overpass Mono', monospace;
        font-size: 35px;
        color: rgb(70, 70, 70);
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .intro__media {
        margin-bottom: 20px;
    }
    .intro__btn {
        width: 280px;
        padding: 15px 0;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
        color: #fff;
        background-color: #000;
    }
}

/* Typing message _____________________________________________*/
.intro__type {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass Mono', monospace;
    font-size: 25px;

    .type__text {
        position: relative;
    }
    .type__text::before,
    .type__text::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .type__text::before {
        background-color: #F8F7E8;
        animation: typewriter 4s steps(26) 1s forwards; /*forwards - не возобновляет аниманию заново*/
    }
    .type__text::after {
        width: 3.5px;
        background: #000;
        animation: typewriter 4s steps(26) 1s forwards,
        blink 750ms steps(26) infinite;
    }
    @keyframes typewriter {
        to { 
            left: 100%;
        }
    }
    @keyframes blink {
        to {
            background: transparent;
        }
    }
}

/* Projects _____________________________________________*/
.project {
    height: 100vh;

    .project__inner {
        display: grid;
        gap: 10px;
        grid-template-columns: 33% 33% 33%;
    }
    .project__item {
        background-color: #fff;
        border-radius: 10px;
    }
    .info {
        margin: 15px;
        display: grid;
        gap: 18px;
    }
    .img {
        border-radius: 10px 10px 0 0;
        width: 100%;
    }
    .btn {
        background-color: #000;
        color: #fff;
        border-radius: 5px;
        padding: 5px 20px;
        font-size: 16px;
    }
    .stack { 
        width: 90%;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;

    }
    .stack__item {
        background-color: #000;
        color: #fff;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 15px;
    }
    span {
        font-weight: 700;
    }
}

.section__title {
    font-family: 'Overpass Mono', monospace;
    margin-bottom: 40px;
    font-size: 40px;
}
/* About me _____________________________________________*/
.about {
    margin-top: 160px;
    height: 50vh;

    .about__inner {
        display: grid;
        gap: 50px;
        grid-template-columns: 50% 50%;
    }
    .about__subtitle {
        font-size: 30px;
    }
    .about__text {
        font-size: 22px;
    }
    .skill__title {
        font-size: 30px;
        font-weight: 700;
        font-family: 'Overpass Mono', monospace;
    }
    .skill__items {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        width: 80%;
    }
    .skill__item {
        background-color: #000;
        color: #fff;
        border-radius: 5px;
        padding: 5px 15px;
    }
}











































/* Footer */
.footer {
    background-color: #282828;
    color: rgb(229, 229, 229);

    .footer__inner {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }
    .footer__title {
        font-size: 20px;
        font-weight: 700;
    }
    .footer__text,
    .footer__link {
        color: rgb(187, 187, 187);
    }
}




